<div class="card"  style="margin-top:30px">
  <div class="card-header" style="margin-bottom:4px;padding:10px 0 10px 3px">
   <div class ="row" >
    <div class="col-sm-3">
      <b>Id</b>
    </div>
    <div class="col-md-3">
        <b>Orgnisation</b>
     </div>
     <div class="col-md-2">
        <b>Adminname</b>
      </div>
      <div class="col-md-2">
          <b>Email</b>  
      </div>
      <div class="col-md-2">
        <b>Actions</b>  
    </div>
   </div>
 </div>
 <div style="max-height:420px;overflow-y:auto;overflow-x:hidden">
  <div class="card-body" *ngFor="let array of requests;let i=index" style="margin-top:1px;border-bottom:1px solid #dedddd;">
      <div class="row">
         <div class="col-sm-3">
           {{array.id}}
         </div>
        <div class="col-sm-3">
          {{array.kycSeekerDetails.organisation}}
         </div>
         <div class="col-sm-2">
           {{array.kycSeekerDetails.name}}
          </div>
         <div class="col-sm-2">
           {{array.kycSeekerDetails.emailId}}
          </div>
          <div class="col-sm-2 row">
              <button class="col-sm-5 btn btn-outline-primary btn-sm" (click)="response('APPROVED',i)">Approve</button>
              <button class="col-sm-5 btn btn-outline-danger btn-sm" (click)="response('DENIED',i)">DENY</button>
           </div>
        </div> 
  </div>
</div>
</div>