


<div class="row">
  <div class="col-sm-6">
      <div class="card">
          <div class="card-header">
           <div class ="row">
            <div class="col-sm-9">
             <h5>Aadhar Information</h5>
      
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-outline-info btn-sm" style="margin-left:20px;"> <span data-feather="edit"></span> Edit</button>
            </div>
           </div>
         </div>
          <div class="card-body">
              <div class="row" style="margin-top:5px">
                  <div class="col-sm-6">
                   
                     <!--   <img class="card-img-top" src="../../assets/mypic.jpg" style="width:65%" alt="Card image cap">
                     -->
                    <div class="row">
                       <div class="col-sm-9">
                          <b>Aadhar number</b>
                             <div class="row" style="margin-top:4px">
                                 <div class="col-sm-12">
                                 {{applieddocs?.aadhar_documents.documents_submitted.number}}
                                  </div>
                              </div>
                        </div>
                    </div>
                           
                        
                        
                  </div>
                  <div class="col-sm-6">
                      
                      <b>Issue Date</b>
                      <div class="row" style="margin-top:3px">
                        <div class="col-sm-10">
                          {{applieddocs?.aadhar_documents.documents_submitted.date_Of_issue}}
                         </div></div>
                      
                     
                   </div>
                  
                </div> 
                <div class="row" style="margin-top:15px">
                    <div class="col-sm-6">
                      <b>Status</b>
                      <div class="row">
                        <div class="col-sm-10" [ngStyle]="{ 'color':getRandomColor()}">
                       {{applieddocs?.aadhar_documents.status}}
                        </div>
                          </div>
                    </div>
                    <div class="col-sm-6">
                      
                     <div class="row" style="margin-top:3px">
                      <div class="col-sm-10">
                          <a data-toggle="modal" data-target="#Request" (click)="viewRequest('AADHAR')" >uploaded Documets(click)</a>
                        </div>
                      </div>
                     </div>
                    
                  </div> 
                </div>
             </div> 
         </div>

  <div class="col-sm-6">
      <div class="card">
          <div class="card-header">
           <div class ="row">
            <div class="col-sm-9">
             <h5>Passport Information</h5>
      
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-outline-info btn-sm" style="margin-left:20px"> <span data-feather="edit"></span> Edit</button>
            </div>
           </div>
         </div>
          <div class="card-body">
              <div class="row" style="margin-top:5px">
                  <div class="col-sm-6">
                    <b>Passport Number</b>
                    <div class="row" style="margin-top:3px">
                      <div class="col-sm-10">
                        {{applieddocs?.passport_documents.documents_submitted.number}}
                      </div>
                        </div>
                  </div>
                  <div class="col-sm-6">
                    <b>Issue Date</b>
                    <div class="row" style="margin-top:3px">
                    <div class="col-sm-10">
                        {{applieddocs?.passport_documents.documents_submitted.date_Of_issue}}
                      </div>
                      </div>
                   </div>
                   
                </div> 
                <div class="row" style="margin-top:15px">
                    <div class="col-sm-6">
                      <b>Status</b>
                      <div class="row">
                        <div class="col-sm-10" [ngStyle]="{ 'color':getRandomColorpass()}">
                            {{applieddocs?.passport_documents.status}}
                        </div>
                          </div>
                    </div>
                    <div class="col-sm-6">
                      <b></b>
                      <div class="row" style="margin-top:3px">
                      <div class="col-sm-10">
                          <a data-toggle="modal" data-target="#Request" (click)="viewRequest('PASSPORT')">uploaded Documets(click)</a>
                        </div>
                      </div>
                     </div>
                     
                  </div> 
            </div>
        </div> 
  </div>
</div>

<div class="modal fade" id="Request" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="deleteAssetModalLabel">Uploaded Documents</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6">
              <img class="col-sm-12" id="modalimage1" style="border-radius:1%;height:200px;">
            </div>
            <div class="col-sm-6">
              <img class="col-sm-12" id="modalimage2" style="border-radius:1%;height:200px;">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
  </div>
