


<div class="row">
  <div class="col-sm-6">
      <div class="card">
          <div class="card-header">
           <div class ="row">
            <div class="col-sm-9">
             <h5>Aadhar Information</h5>
      
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-outline-info btn-sm" style="margin-left:20px;"> <span data-feather="edit"></span> Edit</button>
            </div>
           </div>
         </div>
          <div class="card-body">
              <div class="row" style="margin-top:5px">
                  <div class="col-sm-6">
                   
                     <!--   <img class="card-img-top" src="../../assets/mypic.jpg" style="width:65%" alt="Card image cap">
                     -->
                    <div class="row">
                       <div class="col-sm-9">
                          <b>Aadhar number</b>
                             <div class="row" style="margin-top:4px">
                                 <div class="col-sm-10">
                                 <b>7894561230885</b>   
                                  </div>
                              </div>
                        </div>
                    </div>
                           
                        
                        
                  </div>
                  <div class="col-sm-6">
                      
                      <b>vudathasaiomkar@gmail.com</b>
                      <div class="row" style="margin-top:3px">
                        <div class="col-sm-10">
                          <b>member since 2010</b> 
                         </div></div>
                      
                     
                   </div>
                  
                </div> 
                <div class="row" style="margin-top:15px">
                    <div class="col-sm-6">
                      <b>Aadhar number</b>
                      <div class="row">
                        <div class="col-sm-10">
                       <b>  7894561230885</b>
                        </div>
                          </div>
                    </div>
                    <div class="col-sm-6">
                      <b>status</b>
                     <div class="row" style="margin-top:3px">
                      <div class="col-sm-10">
                        Approvedclass
                        </div>
                      </div>
                     </div>
                    
                  </div> 
                  <div class="row" style="margin-top:4px">
                   <div class="col-sm-10">
                   <a href=""> uploaded documents
                  </a> 
                   </div>
                  </div>
          </div>
        </div> 


  </div>

  <div class="col-sm-6">
      <div class="card">
          <div class="card-header">
           <div class ="row">
            <div class="col-sm-9">
             <h5>Aadhar Information</h5>
      
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-outline-info btn-sm" style="margin-left:20px"> <span data-feather="edit"></span> Edit</button>
            </div>
           </div>
         </div>
          <div class="card-body">
              <div class="row" style="margin-top:5px">
                  <div class="col-sm-6">
                    <b>Saiomkar</b>
                    <div class="row" style="margin-top:3px">
                      <div class="col-sm-10">
                        member since 2010
                      </div>
                        </div>
                  </div>
                  <div class="col-sm-6">
                    <b>vudathasaiomkar@gmail.com</b>
                    <div class="row" style="margin-top:3px">
                    <div class="col-sm-10">
                        member since 2010
                      </div>
                      </div>
                   </div>
                   
                </div> 
                <div class="row" style="margin-top:15px">
                    <div class="col-sm-6">
                      <b>Saiomkar</b>
                      <div class="row">
                        <div class="col-sm-10">
                          member since 2010
                        </div>
                          </div>
                    </div>
                    <div class="col-sm-6">
                      <b>vudathasaiomkar@gmail.com</b>
                      <div class="row" style="margin-top:3px">
                      <div class="col-sm-10">
                          member since 2010
                        </div>
                      </div>
                     </div>
                     
                  </div> 
                  <div class="row" style="margin-top:4px">
                      <div class="col-sm-10">
                      <a href="">uploaded documents
                     </a> 
                      </div>
                     </div> 
          </div>
        </div> 


  </div>
    
</div>

