<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-10 mr-0" href="#">KYC Seeker</a>
    <!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="" (click)="logout()">Sign out</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
                <main role="main" class="col-md-12 ml-sm-auto col-lg-10 pt-3 px-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom" style="width:1237px">
                      <h1 class="h2">Dashboard</h1>
                      <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                          <button class="btn btn-sm btn-outline-secondary" [routerLink]="['profile']" style="margin-left: 705px;">Profile</button>
                          <button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#myModal">Ask KYC Details</button>
                          <button class="btn btn-sm btn-outline-secondary" [routerLink]="['pendingreq']">Pending Requests</button>
                          <button class="btn btn-sm btn-outline-secondary" [routerLink]="['my-customers']">My Customers</button>
                        </div>
                        <div class="container">
                  
                            <!-- Trigger the modal with a button 
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->
                          
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" role="dialog">
                              <div class="modal-dialog">
                              
                                <!-- Modal content-->
                                <div class="modal-content"  [formGroup]="askKycForm" (ngSubmit)="requestKyc($event)">
                                  <div class="modal-header">
                                    
                                    <h4 class="modal-title" style="margin-right:250px">Request KYC Details</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  </div>
                                  <div class="modal-body">
                                      <div class="form-group text-left">
                                          <label for="kyc_id">User_id</label>       
                                            <input formControlName="userId" type="text" class="form-control">
                                        </div>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="submit" class="btn btn-success" (click)="requestKyc(e)">Request</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" class="cls">Close</button>
                                  </div>
                                </div>
                                
                              </div>
                            </div>
                            
                          </div>
          
                      </div>
                      
                      </div>
                      </main>
                      </div>                    
                        <router-outlet></router-outlet>

