

 
<div class="card">
    <div class="card-header">
     <div class ="row">
      <div class="col-sm-9">
       <h5>User Information</h5>

      </div>
      <div class="col-md-3">
          <button type="button" class="btn btn-outline-info btn-sm" style="margin-left:70%"> <span data-feather="edit"></span> Edit</button>
      </div>
     </div>
   </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
              <b>Saiomkar</b>
              <div class="row">
                <div class="col-sm-10">
                  member since 2010
                </div>
                  </div>
            </div>
            <div class="col-sm-4">
              <b>vudathasaiomkar@gmail.com</b>
              <div class="col-sm-10">
                  member since 2010
                </div>
             </div>
             <div class="col-sm-4">
                <b>vudathasaiomkar@gmail.com</b>
                <div class="col-sm-10">
                    member since 2010
                  </div>
             </div>
          </div> 
    </div>
  </div>
  <br><br>
  <div class="row" style="margin-left:1px;margin-right:2px;background-color:#dedddd17">
    <div class="col-sm-8" style="border:2px solid rgba(0,0,0,.125);background-color:inherit">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-9">
                  <b>ADDRESS</b>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-outline-info btn-sm" style="margin-left:70%"> <span data-feather="edit"></span> Edit</button>
                </div>
              </div>
            </div>
    </div>
    <div class="col-sm-4" style="border:2px solid rgba(0,0,0,.125);background-color:inherit">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-9">
                  <b>Birth Information</b>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-outline-info btn-sm" style="margin-left:12px"> <span data-feather="edit"></span> Edit</button>
                </div>
              </div>
            </div>
    </div>
 
  </div>
  <div class="row" style="margin-left: 1px;margin-right: 2px;background-color:#dedddd17;margin-bottom:30px">
   <div class="col-sm-8" style="margin-top:2px;border:2px solid rgba(0,0,0,.125);background-color:inherit">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6" style="border:.5px solidgrey">
                   <p>COUNTRY</p>
                  <div class="col-sm-9">
                      <b>INDIA</b>
                    </div>
                </div>
                <div class="col-sm-6" style="border:.5px solidgrey">
                    <p>CITY</p>
                   <div class="col-sm-9">
                       <b>HYDERABAD</b>
                     </div>
                 </div>
                 <div class="col-sm-6" style="margin-top:10px">
                    <p>ADDRESS</p>
                   <div class="col-sm-9">
                       <b>H.NO: 78/87, Madhapur.</b>
                     </div>
                 </div>
                 <div class="col-sm-6" style="margin-top:10px">
                    <p>POSTAL CODE</p>
                   <div class="col-sm-9">
                       <b>500080</b>
                     </div>
                 </div>
                
              </div>
            </div>
    </div>
    <div class="col-sm-4" style="margin-top:2px;border:2px solid rgba(0,0,0,.125);background-color: inherit;">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-7" style="border:.5px solidgrey">
                   <p>Date Of Birth</p>
                  <div class="col-sm-9">
                      <b>02-05-1994</b>
                    </div>
                </div>
                <div class="col-sm-5" style="border:.5px solidgrey">
                    <p>Place Of Birth</p>
                   <div class="col-sm-9">
                       <b>HYDERABAD</b>
                     </div>
                 </div>
            </div>
            </div>
    </div>
  </div>
  
  
 