

 <form  [formGroup]="kyc_form" (ngSubmit)="send_kyc_request($event)" style="height:600px;overflow-y:auto">
<div class="card" style="margin-top:35px">
    <div class="card-header">
     <div class ="row">
      <div class="col-sm-9">
       <h5>User Information</h5>

      </div>
      
     </div>
   </div>
    <div class="card-body" formGroupName="KYC_Information" >
        <div class="row">
            <div class="col-sm-4">
              <b>Name</b>
              <div class="row" style="margin-top:5px">
                <div class="col-sm-10" >
             <input type="text"  class="form-control" formControlName="name" >
                </div>
                  </div>
            </div>
            <div class="col-sm-4">
              <b>Email Address</b>
              <div class="row" style="margin-top:5px">
              <div class="col-sm-10">
                  <input type="text"  class="form-control"  value="example.com" readonly>
                </div>
              </div>
             </div>
             <div class="col-sm-4">
                <b>Gender</b>
                <div class="row" style="margin-top:5px">
                <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio"  formControlName="gender" name="gender" id="inlineRadio1" value="MALE">
                        <label class="form-check-label" for="inlineRadio1">Male</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="gender" name="gender" id="inlineRadio2" value="FEMALE">
                        <label class="form-check-label" for="inlineRadio2">Female</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="gender" name="gender" id="inlineRadio3" value="MALE" >
                        <label class="form-check-label" for="inlineRadio3">Others</label>
                      </div>
                  </div>
                </div>
                </div>
          </div> 
    </div>
  </div>
  <br><br>
  <div class="row" style="margin-left: 1px;margin-right:2px;background-color:#dedddd17">
    <div class="col-sm-8" style="border:2px solid rgba(0,0,0,.125);background-color:inherit">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-9">
                  <b>ADDRESS</b>
                </div>
                
              </div>
            </div>
    </div>
    <div class="col-sm-4" style="border:2px solid rgba(0,0,0,.125);background-color:inherit">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-9">
                  <b>Birth Information</b>
                </div>
               
              </div>
            </div>
    </div>
 
  </div>
  <div class="row" style="margin-left: 1px;margin-right:2px;background-color:#dedddd17;" formGroupName="KYC_Information">
   <div class="col-sm-8" style="margin-top:2px;border:1px solid rgba(0,0,0,.125);background-color:#fff">
        <div class="card-body" formGroupName="address">
            <div class="row">
                <div class="col-sm-6" style="border:.5px solidgrey">
                   <p>Country</p>
                  <div class="col-sm-9">
                      <input type="text" formControlName="nationality" class="form-control" >
                    </div>
                </div>
                <div class="col-sm-6" style="border:.5px solidgrey">
                    <p>State</p>
                   <div class="col-sm-9">
                      <input type="text"  formControlName="city" class="form-control" >
                     </div>
                 </div>
                 <div class="col-sm-6" style="margin-top:10px">
                    <p>Address</p>
                   <div class="col-sm-9">
                      <input type="text" formControlName="Address" class="form-control" >
                     </div>
                 </div>
                 <div class="col-sm-6" style="margin-top:10px">
                    <p>POSTAL CODE</p>
                   <div class="col-sm-9">
                      <input type="text" formControlName="postal_Code" class="form-control" >
                     </div>
                 </div>
                
              </div>
            </div>
    </div>
    <div class="col-sm-4" style="margin-top:2px;border:2px solid rgba(0,0,0,.125);background-color:#fff;">
        <div class="card-body" formGroupName="birth_details">
            <div class="row" >
                <div class="col-sm-5" style="border:.5px solidgrey">
                   <p>Date Of Birth</p>
                </div>           
                  <div class="col-sm-7">
                      <input type="date"  class="form-control" formControlName="dateOfBirth" placeholder="format:12-05-1994" >
                    </div>
                  
                </div>
                <div class="row" style="margin-top:3px">
                <div class="col-sm-5" style="border:.5px solidgrey">
                    <p>Place Of Birth</p>
                </div>
                   <div class="col-sm-7">
                      <input type="text" formControlName="birth_place" class="form-control" >
                     </div>
                  
                 </div>
                </div>
            </div>
            

  </div>
  
  <div class="row" style="margin-left: 1px;margin-right:2px;margin-top:45px;background-color:#dedddd17;">
    
      <div class="col-sm-6" style="border:2px solid rgba(0,0,0,.125);background-color:inherit">
          <div class="card-body">
              <div class="row">
                  <div class="col-sm-9">
                    <b>Aadhar-Information</b>
                  </div>
                  
                </div>
              </div>
      </div>
      <div class="col-sm-6" style="border:2px solid rgba(0,0,0,.125);background-color:inherit">
          <div class="card-body">
              <div class="row">
                  <div class="col-sm-9">
                    <b>Passport Information</b>
                  </div>
                 
                </div>
              </div>
      </div>
  </div>
  
  <div formGroupName="Documents"  class="row" style="margin-left: 1px;margin-right:2px;margin-top:2px;background-color:#dedddd17;">

    
      <div class="col-sm-6" style="border:2px solid rgba(0,0,0,.125);background-color:#fff" formGroupName="aadhar_documents">
          <div class="card-body" formGroupName="documents_submitted">
              <div class="row">
                  <div class="col-sm-11" style="border:.5px solidgrey">
                     <p>Aadhar-Number</p>
                    <div class="col-sm-11">
                        <input type="text" formControlName="number" class="form-control" >
                      </div>
                  </div>
           
                   <div class="col-sm-6" style="margin-top:10px">
                      <p>Issue-date</p>
                     <div class="col-sm-9">
                        <input type="date" formControlName="date_Of_issue" class="form-control" >
                       </div>
                   </div>
                   <div class="col-sm-6" style="margin-top:10px">
                      <p>upload photo</p>
                     <div class="col-sm-9">
                    
                        <button class="btn col-sm-7 btn-outline-info" (click)="showFiles('ad')" type="button"><small style="margin-left:-5px">Choose file</small><input class="ad" style="display:none" id="file" type="file" (change)="changeListner($event,'aimg')" accept=".jpg,.png" /></button>&nbsp;&nbsp;
                
                        <img class="aimg" style="height:40px;width:40px" />
                       
                       </div>
                   </div>
                  
                </div>
              </div>
      </div>
      <div formGroupName="passport_documents" class="col-sm-6" style="border:2px solid rgba(0,0,0,.125);background-color:#fff" >
          <div class="card-body" formGroupName="documents_submitted">
              <div class="row">
                  <div class="col-sm-11" style="border:.5px solidgrey">
                     <p>Passport-Number</p>
                    <div class="col-sm-11">
                        <input type="text" formControlName="number" class="form-control" >
                      </div>
                  </div>
                  
                   <div class="col-sm-6" style="margin-top:10px">
                      <p>Issue Date</p>
                     <div class="col-sm-9">
                        <input type="date" formControlName="date_Of_issue" class="form-control" >
                       </div>
                   </div>
                   <div class="col-sm-6" style="margin-top:10px">
                      <p>upload photo</p>
                     <div class="col-sm-9">
                        <button class="btn col-sm-7 btn-outline-info" (click)="showFiles('pd')" type="button"><small style="margin-left:-5px">Choose file</small><input style="display:none" class="pd" id="file" type="file" (change)="changeListner($event,'ppic')" accept=".jpg,.png" /></button>&nbsp;&nbsp;
                        <img class="ppic" style="height:40px;width:40px"/>
                       </div>
                   </div>
                  
                </div>
              </div>
      </div>





  </div>
 
  <div class="row" style="margin-left: 1px;margin-right:2px;margin-top:45px;background-color:#dedddd17;">

<div class="col-sm-4">
</div>
  <div class="col-sm-4" style="margin-bottom:50px">
      <input class="btn btn-primary  btn-lg col-sm-12" type="submit" value="Submit"  style="margin-bottom:30px">

  </div>
</div>
</form>






















































<!-- <div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAssetModalLabel">Add Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          

            
              <div class="form-group text-left">
                <label for="kyc_id">kyc_id</label>
                
                  <input formControlName="kyc_id" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="kyc_of_userid">kyc_of_userid</label>
                
                    <textarea formControlName="kyc_of_userid" class="form-control" rows="3"></textarea>
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="KYC_Information">KYC_Information</label>
                
                    <textarea formControlName="KYC_Information" class="form-control" rows="3"></textarea>
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="applied_documents_status">applied_documents_status</label>
                
                    <textarea formControlName="applied_documents_status" class="form-control" rows="3"></textarea>
                
              </div>
            
          

            
              <label for="KYC_status">KYC_status</label>
              <div class="checkbox">
                
                  <label>
                    <input
                      
                        formControlName="KYC_status"
                      
                      name="KYC_status"
                      value="REQUESTED"
                      type="radio"
                      
                    />
                    REQUESTED
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="KYC_status"
                      
                      name="KYC_status"
                      value="APPROVED"
                      type="radio"
                      
                    />
                    APPROVED
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="KYC_status"
                      
                      name="KYC_status"
                      value="DENIED"
                      type="radio"
                      
                    />
                    DENIED
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="KYC_status"
                      
                      name="KYC_status"
                      value="PENDING"
                      type="radio"
                      
                    />
                    PENDING
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="KYC_status"
                      
                      name="KYC_status"
                      value="UNDER_REVIEW"
                      type="radio"
                      
                    />
                    UNDER_REVIEW
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="KYC_status"
                      
                      name="KYC_status"
                      value="VERIFIED"
                      type="radio"
                      
                    />
                    VERIFIED
                  </label>
                
              </div>
            
          

        </div>
        <div class="modal-footer">
          <button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>




<div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateAssetModalLabel">Update Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          
            <div class="form-group text-left">
              <label for="kyc_id">kyc_id</label>

              
                <input [ngModel]="kyc_id"formControlName="kyc_id" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="kyc_of_userid">kyc_of_userid</label>

              
                
                  <textarea [ngModel]="kyc_of_userid" formControlName="kyc_of_userid" class="form-control" rows="3"></textarea>
                
              

            </div>
          
            <div class="form-group text-left">
              <label for="KYC_Information">KYC_Information</label>

              
                
                  <textarea [ngModel]="KYC_Information" formControlName="KYC_Information" class="form-control" rows="3"></textarea>
                
              

            </div>
          
            <div class="form-group text-left">
              <label for="applied_documents_status">applied_documents_status</label>

              
                
                  <textarea [ngModel]="applied_documents_status" formControlName="applied_documents_status" class="form-control" rows="3"></textarea>
                
              

            </div>
          
            <div class="form-group text-left">
              <label for="KYC_status">KYC_status</label>

              
                
                  <div class="row">
                    <div class="col-xs-12 checkbox">
                    
                      <label>
                        <input
                          
                            formControlName="KYC_status"
                            [ngModel]="KYC_status"
                          
                          name="KYC_status"
                          value="REQUESTED"
                          type="radio"
                          
                        />
                        REQUESTED
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="KYC_status"
                            [ngModel]="KYC_status"
                          
                          name="KYC_status"
                          value="APPROVED"
                          type="radio"
                          
                        />
                        APPROVED
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="KYC_status"
                            [ngModel]="KYC_status"
                          
                          name="KYC_status"
                          value="DENIED"
                          type="radio"
                          
                        />
                        DENIED
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="KYC_status"
                            [ngModel]="KYC_status"
                          
                          name="KYC_status"
                          value="PENDING"
                          type="radio"
                          
                        />
                        PENDING
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="KYC_status"
                            [ngModel]="KYC_status"
                          
                          name="KYC_status"
                          value="UNDER_REVIEW"
                          type="radio"
                          
                        />
                        UNDER_REVIEW
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="KYC_status"
                            [ngModel]="KYC_status"
                          
                          name="KYC_status"
                          value="VERIFIED"
                          type="radio"
                          
                        />
                        VERIFIED
                      </label>
                    
                    </div>
                  </div>
                
              

            </div>
          


        </div>
        <div class="modal-footer">
          <button (click)="updateAsset(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteAssetModalLabel">Delete Asset</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="deleteAsset()">
        <div class="modal-body">
          Are you sure you want to delete this asset?
        </div>
        <div class="modal-footer">
          <button (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </form>
    </div>
  </div>
</div>











<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <h1 id='assetName'>KYC_Details</h1>
  <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetModal">Add Asset</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-striped">
        <thead class="thead">
          <tr class="thead-cols">
            
                <th class="info">kyc_id</th>
            
                <th class="info">kyc_of_userid</th>
            
                <th class="info">KYC_Information</th>
            
                <th class="info">applied_documents_status</th>
            
                <th class="info">KYC_status</th>
            
              <th class="info">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allAssets">

            
                <td>{{asset.kyc_id}}</td>
            
                <td>{{asset.kyc_of_userid}}</td>
            
                <td>{{asset.KYC_Information}}</td>
            
                <td>{{asset.applied_documents_status}}</td>
            
                <td>{{asset.KYC_status}}</td>
            
            <td>
              <button (click)="getForm(asset.kyc_id);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateAssetModal">Update Asset</button>

              <button (click)="setId(asset.kyc_id);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAssetModal">Delete Asset</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->
