<div class="card">
    <div class="card-header" style="margin-bottom:4px;padding:10px 0 10px 3px">
     <div class ="row" >
      <div class="col-sm-3">
        <b>Id</b>
      </div>
      <div class="col-md-3">
          <b>Orgnisation</b>
       </div>
       <div class="col-md-3">
          <b>adminname</b>
        </div>
        <div class="col-md-3">
            <b>Location</b>  
        </div>
     </div>
   </div>
    <div class="card-body" *ngFor="let array of sharingWith" style="margin-top:1px;border-bottom:1px solid #dedddd">
        <div class="row">
           <div class="col-sm-3">
             {{array.id}}
           </div>
          <div class="col-sm-3">
            {{array.organisation}}
           </div>
           <div class="col-sm-3">
             {{array.name}}
            </div>
           <div class="col-sm-3">
             {{array.location}}
            </div>
          </div> 
    </div>
  </div>