<div class="card" style="width:1237px ;margin-left:30px" >
    <div class="card-header">
     <div class ="row">
      <div class="col-sm-12">
       <h5><b>User Information</b></h5>

      </div>
      
     </div>
   </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
              <b>Saiomkar</b>
              <div class="row">
                <div class="col-sm-10">
                  member since 2010
                </div>
                  </div>
            </div>
            <div class="col-sm-4">
              <b>vudathasaiomkar@gmail.com</b>
              <div class="col-sm-10">
                  member since 2010
                </div>
             </div>
             <div class="col-sm-4">
                <b>vudathasaiomkar@gmail.com</b>
                <div class="col-sm-10">
                    member since 2010
                  </div>
             </div>
          </div> 
    </div>
  </div>
  <br><br>
  <div class="card" style="width:1237px;margin-left:30px">
        <div class="card-header">
                <div class ="row">
                 <div class="col-sm-12">
                  <h5><b>KYC Details</b></h5>
           
                 </div>
                 
                </div>
              </div>
  
  <div style="margin-left: 10px"><h4><b>Organisation Details :</b></h4></div>
  <div class="row" style="margin-left: 1px;margin-right: 2px;background-color:#dedddd17;margin-bottom:30px">
   <div class="card-body">
            <div class="row">
                
                <div class="col-sm-3" style="border:.5px solidgrey">
                   <p><b>COUNTRY</b></p>
                  <div class="col-sm-9">
                      <h5>INDIA</h5>
                    </div>
                </div>
                <div class="col-sm-3" style="border:.5px solidgrey">
                    <p><b>CITY</b></p>
                   <div class="col-sm-9">
                       <h5>HYDERABAD</h5>
                     </div>
                 </div>
                 <div class="col-sm-3" style="margin-top:1px">
                    <p><b>ADDRESS</b></p>
                   <div class="col-sm-9">
                       <h5>H.NO: 78/87, Madhapur</h5>
                     </div>
                 </div>
                 <div class="col-sm-3" style="margin-top:1px">
                    <p><b>POSTAL CODE</b></p>
                   <div class="col-sm-9">
                       <h5>500080</h5>
                     </div>
                 </div>
                
              </div>
            </div>
    </div>
    </div>
 