    
                                                                                                                                                                                                                                                                                                                                                                                                                   
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" style="position:fixed;width:1308px">
      <a class="navbar-brand col-sm-12 col-md-2 mr-0" href="#">Kyc-Center</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <label style="font-style:bold;color:#fff;padding-bottom: 10px;margin-left: 200%;">Welcome    {{userDetails.name}} 
            <span data-feather="log-out"></span></label>
        </li>
      </ul>
    </nav> 
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" [routerLink]="['profile']">
                  <span data-feather="home"></span>
                  Profile <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['KYC_Details']">
                  <span data-feather="database"></span>
                  Kyc Enrollment
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['kyc_approval']">
                  <span data-feather="bell"></span>
                  Kyc Requests
                </a>
              </li>
               </ul>

            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" style="background-color:#fff">
          
        <br>
        <br>
          <router-outlet></router-outlet>
        </main>


      